.App {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Section {
  border-bottom: 1px solid white;
  margin-bottom: 10%;
}

.Option {
  margin-bottom: 5%;
}